.mixin-video {
  height: 300px;
  width: 300px;
  border: 2px solid paleturquoise;
  margin: 15px;
}

.mixin-video__img {
  width: 100%;
  height: 150px;
  background-color: papayawhip;
}

.mixin-video__about {
  margin-left: 35px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mixin-video__about__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
