extends ../base

block content 
    if errorMessage 
        soan=errorMessage
    form(method="POST")

        input(placeholder="Old password", name="oldPassword", type="password",required)
        input(placeholder="New password", name="newPassword", type="password",required)
        input(placeholder="New password Confirmation", name="newConfirm", type="password",required)
        input(type="submit", value="Update Password")

        